@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Pt-serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 500%;
    margin-left: 30px;
    
    
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #FF0000;
}

.active {
    border-bottom: 2px solid #FF0000;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: solid red;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/squashed-hero-image.webp) no-repeat center center;
    background-size: cover;
    


/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    width: 50%;
    height: 60px;
    

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.3);

    top: 25px;
    left: 25px;

    position: absolute;
    border-radius: 25px;
    
}

#cover-text > h2 {
    font-size: 120%;
    letter-spacing: 2px;
}

#cover-text > h4 {
    font-size: 100%;
    letter-spacing: 1px;
    font-family: Pt-serif, sans-serif;
    font-weight: 500;
}

/* Club Info */

#club-info-section {
    height: 200px;
    width: 100%;
    background-color: #fafafa;
    border: solid red;
}

#club-info-div {
    height: 150px;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#club-info-div > h2 {
    text-align: center;
    text-decoration: underline;
}

#club-details-section {
    width: 100%;
    float: left;
    background-color: #fafafa;
    height: 450px;
    border: solid red;
}

#club-details-location {
    width: 30%;
    float: left;
    padding-left: 10px;
    height: 340px;
    padding-top: 40px;
    padding-bottom: 20px;

    border: 25px solid #FF0000;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23FF0000' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-location-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.club-details-location-text > h2 {
    text-align: center;
    text-decoration: underline;
}

#asv-logo-area {
    width: 50%;
    height: 100px;
    
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    
}

#asv-logo {
    height: 100%;
    width: 100%;
    background: url(../images/asv-logo.png) no-repeat center center;
    background-size: contain;
    
    
}

#club-details-opening-times {
    width: 30%;
    margin: 0 auto;
    height: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    
    border: 25px solid #FF0000;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23FF0000' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-opening-times-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
    
}

.club-details-opening-times-text > h2 {
    text-align: center;
    text-decoration: underline;
}

#club-details-court-prices {
    width: 30%;
    float: right;
    padding-right: 10px;
    height: 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    
    border: 25px solid #FF0000;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23FF0000' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-court-prices-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.club-details-court-prices-text > h2 {
    text-align: center;
    text-decoration: underline;
}

#court-prices-div {
    width: 60%;
    height: 200px;
    border: solid black;
    margin: 0 auto;
    margin-top: 5%;
}

#court-prices-picture {
    height: 100%;
    width: 100%;
    background: url(../images/squash-picture.jpg) no-repeat center center;
    background-size: cover;
    
}

/* Home page, bottom section */

#bottom-section {
    width: 100%;
    float: left;
    border: solid red;
    height: 450px;
}

/* picture */

#left-about-bottom {
    width: 50%;
    float: left;
    
    height: 450px;
    padding: 0px;
}

#bg-picture1 {
    background: url('../images/bg-picture1.jpg') no-repeat center center;
    height: 100%;
    background-size: cover;
    position: static;
    border-right: solid #FF0000;
}


/* map */

#right-about-bottom {
    width: 50%;
    float: right;
    height: 450px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 50%;
    margin: auto;
}






/* footer */

footer {
    height: 150px;
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* basic rules background */

#bg-rules-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#rules-bg-image {
    background: url('../images/playing-squash-rules-background.jpg') no-repeat center center;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

#rules-text {
    font-size: 100%;
    font-family: Galasio, sans-serif;
    letter-spacing: 2px;
    
    width: 65%;
    height: 900px;

    padding-top: 20px;
    padding-left: 10px;

    
    color: black;

    top: 10px;
    left: 30px;

    position: absolute;
    
}



#rules-text > h3 {
    text-decoration: underline;
}

#rules-text > h2 {
    text-align: center;
    text-decoration: underline;
}


/* signup background & form */

.form-section {
    clear: left;
    background: url('../images/overall-background-opaque-image.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.signup-form {
    margin: auto;
    color: white;
    background-color: rgba(60, 60, 60, 0.8);
    width: 40%;
    padding: 5%;
    border: solid red;
    height: 900px;
    padding-top: 50px;
    border-radius: 25px;
}

#form-body {
    margin: 0 auto;
    padding-top: 50px;
}

.signup-form > h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 5px;
    border: 1px solid black;
    border-radius: 20px;
}

.text-input:hover {
    background-color: crimson;
}

.join-button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: crimson;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

.join-button:hover {
    background-color: #fafafa;
    color: crimson;
}

.ability-definition-text {
    width: 100%;
    float: left;
    line-height: 20px;
    text-align: center;
}

#definition-box {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}


/* Media queries */

/* For larger to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #club-details-section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #club-info-section {
        padding: 30px 0;
        margin: 0;
    }

    #club-details-location, #club-details-opening-times, #club-details-court-prices {
        width: 100%;
        float: left;
        padding: 0;
    }

}

/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

