@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Galasio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 500%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: black;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/squashed-hero-image.webp) no-repeat center center;
    background-size: cover;
    


/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 80%;
    font-family: Galasio, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    width: 500px;
    height: 80px;

    padding: 10px;

    background-color: rgba(241, 109, 107, .7);

    top: 25px;
    left: 25px;

    position: absolute;
}

/* Club Info */

#club-info {
    height: 150px;
    text-align: center;
    padding-top: 10px;
    background-color: bisque;
}

#club-details-section {
    width: 100%;
    float: left;
    background-color: bisque;
    height: 450px;
}

#club-details-location {
    width: 30%;
    float: left;
    height: 340px;
    padding-top: 25px;
    padding-bottom: 25px;

    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-location-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
    
   
}

#club-details-opening-times {
    width: 30%;
    margin: 0 auto;
    height: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-opening-times-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
    
}

#club-details-court-prices {
    width: 30%;
    float: right;
    height: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.club-details-court-prices-text {
    width: 100%;
    text-align: center;
    line-height: 20px;
    
   
}

/* Home page, bottom, picture & map section */

#bottom-section {
    width: 100%;
    float: left;
    background-color: lightblue;
    height: 450px;
}

/* picture */

#left-about-bottom {
    width: 50%;
    float: left;
    background-color: chocolate;
    height: 450px;
    padding: 0px;
}

#bg-picture1 {
    background: url('../images/bg-picture1.jpg') no-repeat center center;
    height: 100%;
    background-size: cover;
    position: static;
}


/* map */

#right-about-bottom {
    width: 50%;
    float: right;
    height: 450px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 50%;
    margin: auto;
}


#club-information {
    text-align: center;
    margin: 10px 0;
    font-size: 150%;
}



/* footer */

footer {
    height: 150px;
    background-color: #B88846;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* basic rules background */

#bg-rules-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#rules-bg-image {
    background: url('../images/playing-squash-rules-background.jpg') no-repeat center center;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

#rules-text {
    font-size: 100%;
    font-family: Galasio, sans-serif;
    letter-spacing: 2px;
    
    width: 65%;
    height: 900px;

    padding-top: 20px;
    padding-left: 10px;

    
    color: black;

    top: 10px;
    left: 30px;

    position: absolute;
    
}

#rules-text > h3 {
    text-decoration: underline;
}

#rules-text > h2 {
    text-align: center;
}


/* signup background & form */

.form-section {
    clear: left;
    background: url('../images/overall-background-opaque-image.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: auto;
    color: white;
    background-color: rgba(60, 60, 60, 0.7);
    width: 35%;
    padding: 5%;
    border: solid red;
    height: 650px;
    padding-top: 30px;
}

#form-body {
    margin: 0 auto;
    padding-top: 50px;
}

.signup-form > h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 5px;
    border: 1px solid black;
    border-radius: 20px;
}

.text-input:hover {
    background-color: crimson;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: crimson;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

.join-button:hover {
    background-color: #fafafa;
    color: crimson;
}

.ability-definition-text {
    width: 100%;
    float: left;
    line-height: 20px;
    text-align: center;
}

#definition-box {
    width: 600px;
    height: 400px;
    margin-top: 50px;
}

